*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Mono', monospace;
}

html {
    scroll-behavior: smooth;
   }

//var

//$main: #C17767;
$main: #ffb3a6;
$sec: #68e1fd;

//mixins
@mixin hover-pink{
 &:hover{
     color:$main;
 }
}

@mixin hover-blue{
 &:hover {
     color: $sec
 }
}

@mixin h2{
    text-align: center;
    font-size: 1.6rem;
    padding-bottom: 2rem;
}

//section 1

.sect-1{
    display: flex;
    justify-content: space-between;
    padding-top: 1.4rem;
}

.sect-1 ul{
    display: flex;
}

.sect-1 li{
    color: #000;
    text-decoration: none;
    list-style: none;
    padding-right: 1rem;
   
}

nav a:hover{
    color: $sec
}



nav a{
    color: black;
    text-decoration: none;
}

.one-left{
    padding-left: 1rem;
    @include hover-pink()
}

.one-right{
    padding-right: 1rem;
    padding-top: .5rem;
}

//section 2

.sect-2{
    display: flex;
    
}

.two-left{
    width: 50vw;
    padding-left: 4rem;
}

.two-right{
    padding-right: 4rem;
}

.two-right h1{
    padding-top: 50%;
    width: 400px;
}


//Section-3
.sect-3{
    padding-top: 9rem;
    
}

.sect-3 h2{
    @include h2;   
}

.sect-3 p{
    line-height: 2rem;
    text-align: center;
    margin: auto;
    width: 700px;
}


//section 4

.sect-4{
   padding-top: 8rem;
}

.sect-4 h2{
    @include h2;
}

.sect-4 a{
    color: #000;
    text-decoration: none;
}

.container{
    width: 415px;
    margin: auto;
 }
 

 .main-c {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 30px;
     grid-auto-rows: minmax(100px, auto);
     
 }
 

 .projects{
     text-align: center;
 }
 
.projects p{
    padding-top: 2.2rem;
    
}

.p-h2{
    padding-bottom: 3.4rem;
}

 
 /*one*/
 .one{
    height: 120px;
    width: 120px;
    border-radius: 50%;
     background-color: #ffb3a6;
       z-index: 1;
      
 }
 
 
 /*two*/
 .two{
    height: 120px;
    width: 120px;
    border-radius: 50%;
     background: #68e1fd;
     
     line-height: 42px;
     padding: 0;
 }
 
 
 /*three*/
 .three {
     /*background-color: darkslateblue;*/
     height: 120px;
     width: 120px;
     border-radius: 50%;
     background: #ffb3a6;
     padding: 0;
     border: none;
     }
 
 /*four*/
 .four {
     background-color: #68e1fd;
     height: 120px;
     width: 120px;
     border-radius: 50%;
 }
 
 /*five*/
 .five{
     background-color:#ffb3a6;
     height: 120px;
    width: 120px;
    border-radius: 50%;
 }
 
 /*six*/
 .six {
     background-color: #68e1fd;
     height: 120px;
    width: 120px;
    border-radius: 50%;
 }


//section 5

.sect-5{
    padding-bottom: 2rem;
    padding-top: 8rem
}

.sect-5 h2{
    @include h2;
}

.sect-5 ul{
    display: flex;
    justify-content: center;
}

.sect-5 li{
    list-style: none;
    padding: 1.5rem 2rem;
    
}

.sect-5 a{
    color: #000;
    font-size: 1.3rem;
    font-weight: 500;
}








//x-large

@media only screen and (min-width: 1450px) {
    .sect-2 {
        /*
        margin-left: 12rem;
        margin-top: 1rem;
        */
        margin-left: 9rem;
        margin-top: 1rem;
        padding: 0 5rem;
    }

    .two-right {
        margin-left: 3.5rem;
    }

    .two-right h1{
        width: 400px;
    }
}





//large

@media only screen and (min-width: 1200px) {
    .two-left{
        width: auto;
    }
  
    .two-left img{
      height: 600px;
      width: 700px;
  }

  .two-right{
      font-size: 1.7rem;
      padding-left: 9rem;
  }

  .two-right h1{
    width: 220px;
  }



}










//small

@media only screen and (max-width: 878px) {
    .sect-2{
        flex-direction: column;
        align-items: center;
    }

    .two-left{
       width: inherit;
       padding-left: inherit;
       padding-top: 4rem;
       
       
    }

    .two-left img{
        height: 300px;
    }

    .two-right h1{
        padding-top: 4rem;
        text-align: center;
        width: 300px;
    }

    .sect-3 p{
        width: 300px;
      }
    
      .sect-5 ul{
          display: flex;
          flex-direction: column;
          text-align: center;
      }
    
     .two-right{
         padding-right: inherit;
     }

.sect-5{
    padding-bottom: 1rem;
    
    
}

}



//X-small
@media only screen and (max-width: 840px) {
    .main-c {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        
        
    }

    .projects{
        width: 287px;
    }
  }



//XX-Small

  @media only screen and (max-width: 600px) {
    .main-c {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        grid-auto-rows: minmax(100px, auto);
        
    }

    .projects{
        width: 125px;
    }
  }

  

